---
import "@/styles/global.css";
import Header from "@/components/base/header.astro";
---

<script is:inline>
	const html = document.querySelector("html");
	const localStorageConfig = localStorage.getItem("ts:configs");

	let configs = localStorageConfig ? JSON.parse(localStorageConfig) : undefined;

	if (!configs) {
		configs = {
			theme: "dark",
			locale: "pt-br",
		};

		localStorage.setItem("ts:configs", JSON.stringify(configs));
	}

	if (html) {
		html.setAttribute("data-theme", configs.theme);
		html.setAttribute("lang", configs.locale);
	}
</script>

<html lang="pt-br" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Task Scheduler</title>
	</head>
	<body class="flex justify-center">
		<div class="content md:w-[75%]">
			<Header />
			<main class="px-2">
				<slot />
			</main>
		</div>
	</body>
</html>
